html {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*  цвета
#163843
#1A5966
#74B997
#EEE597
#EB803C
*/

header {
    background-color: #EEE597;
    border-radius: 0px 0px 40px 40px;
}

.header_container {
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 32px;

    border: 2px solid black;
}

.img_header {
    width: 20%;
}