html {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: #74B997;
}

a {
    text-decoration: none;
    color: black;
}

section {
    margin: 0 auto;
    box-sizing: border-box;
    
    padding: 10px;
    width: 80%;
}
/*  цвета
#163843
#1A5966
#74B997
#EEE597
#EB803C
*/

/* Настройки стилей Хедера */

header {
    background-color: #EEE597;
    border-radius: 0px 0px 40px 40px;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 32px;

    border: 2px solid black;
}

.img_header {
    width: 20%;
}





/* настройки стилей Футера */
footer {
    background-color: #EEE597;
    border-radius: 40px 40px 0px 0px;
    box-sizing: border-box;
    
}

.footer_container {
    margin: 0 auto; 
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 32px;

    border: 2px solid black;
}


/* настройки стилей Мейна */

main {
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 20px;
}

.main_section {
    border: 2px solid black;  
    
    
}

.main_div {
    border: 2px solid black;  
    padding: 20px;
    
}

.app {
    display: flex;
    flex-direction: row; 
}

.app_img {
    border: 2px solid black; 
    width: 35%;
    
}

.app_text {
    border: 2px solid black;
    width: 65%;
}